<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<div class="content-wrapper" layout:fragment="content">    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>일정</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">일정</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="card card-primary">
                        <div class="card-body p-0">
                            <!-- THE CALENDAR -->
                            <div id="calendar"></div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- ./content -->
    <!-- ./content-wrapper -->

    <!-- Page specific script -->
    <script>
        $(function () {

            /* initialize the external events
             -----------------------------------------------------------------*/
            function ini_events(ele) {
                ele.each(function () {

                    // create an Event Object (https://fullcalendar.io/docs/event-object)
                    // it doesn't need to have a start or end
                    var eventObject = {
                        title: $.trim($(this).text()) // use the element's text as the event title
                    }

                    // store the Event Object in the DOM element so we can get to it later
                    $(this).data('eventObject', eventObject)

                    // make the event draggable using jQuery UI
                    $(this).draggable({
                        zIndex: 1070,
                        revert: true, // will cause the event to go back to its
                        revertDuration: 0  //  original position after the drag
                    })

                })
            }

            ini_events($('#external-events div.external-event'))

            /* initialize the calendar
             -----------------------------------------------------------------*/
            //Date for the calendar events (dummy data)
            var date = new Date()
            var d = date.getDate(),
                m = date.getMonth(),
                y = date.getFullYear()

            var Calendar = FullCalendar.Calendar;
            var Draggable = FullCalendar.Draggable;

            var checkbox = document.getElementById('drop-remove');
            var calendarEl = document.getElementById('calendar');

            // initialize the external events
            // -----------------------------------------------------------------


            var calendar = new Calendar(calendarEl, {
                locale:'ko',
                headerToolbar: {
                    left: 'prev,next',
                    center: 'title',
                    right: ''
                },
                eventTimeFormat: { // 이벤트 시간 형식을 24시간제로 설정
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: false
                },
                themeSystem: 'bootstrap',
                events: function (fetchInfo, successCallback, failureCallback) {
                    $.ajax({
                        url: '/api/schedule/pro',
                        type: 'GET',
                        success: function (response) {
                            var events = convertToEvents(response);
                            successCallback(events);
                        },
                        error: function () {
                            // 오류 발생 시 처리
                            failureCallback();
                        }
                    });
                },
                editable: false,
                droppable: false,
                contentHeight: 'auto',

                eventClick: function (info) {
                    var eventId = info.event.extendedProps.scheduleId;

                    window.location.href = '/record/' + eventId;
                },
            });


            // 색 맵핑
            var lessonColorMapping = {
                1: "#ff0000",
                2: "#00ff00",
                3: "#0000ff",
            };

            function convertToEvents(serverResponse) {
                return serverResponse.data.map(function (event) {
                    var color = lessonColorMapping[event.lessonId] || "#000000";
                    return {
                        title: event.lessonName + " - " + event.title,
                        start: event.start,
                        end: event.end,
                        allDay: false,
                        color: color,
                        extendedProps: {
                            scheduleId: event.scheduleId
                        }
                    }
                        ;
                });
            }

            calendar.render();

        })
    </script>
</div>
</body>
</html>
